<nav class=" w-full h-16 bg-primary rounded-xl py-5 px-6 flex justify-between items-center">
	<h1 class="text-2xl font-bold">Idea-Up</h1>
    <div class="flex flex-row gap-2">
        <button mat-button class="primary-button !bg-white">My ideas</button>
        <button mat-button class="primary-button !bg-white">Saved ideas</button>
        <button mat-button class="primary-button !bg-white">Account</button>
    </div>
</nav>


<!-- 
w-full: width full
h-16:  height: 4rem /* 64px */;
bg-primary: background primary
rounded-xl: 12px
py-5: move down 1.25rem
px-6: move right 1.5rem
flex flex-row justify-between items-center: this do that move the items to the center and make the items in a row 
-->